@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body;
    }
}

@layer components {
    .page-container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

body {
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Code for Firefox */
::-moz-selection {
    background: #a7f2d4;
}

::selection {
    background: #a7f2d4;
}

.content-overflow-limitline {
    --line: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-overflow-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hiden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hiden-scrollbar {
    scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
    --width: 5px;
    width: var(--width);
}

.custom-scrollbar::-webkit-scrollbar-track {
    --bg-track: #eee;
    --rounded: 20px;
    background: var(--bg-track);
    border-radius: var(--rounded);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    --rounded: 20px;
    --bg-thumb: #2dd4bf;
    background: var(--bg-thumb);
    border-radius: var(--rounded);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    --bg-thumb-hover: #14b8a6;
    background: var(--bg-thumb-hover);
}

/* animation */
.move-down-enter {
    transform: translateY(-50%);
}

.move-down-enter-active {
    transform: translateY(0);
}

.move-down-exit-active {
    transform: translateY(-25%);
    opacity: 0;
    visibility: hidden;
}

.entry-content {
    width: 100%;
}

.entry-content h1,
.entry-content .ql-editor h1 {
    padding: 25px 0;
    font-weight: 600;
    font-size: 30px !important;
    line-height: 36px;
}

.entry-content h2,
.entry-content .ql-editor h2 {
    padding: 20px 0;
    font-weight: 600;
    font-size: 28px !important;
    line-height: 36px;
}

.entry-content h3,
.entry-content .ql-editor h3 {
    padding: 18px 0;
    font-weight: 600;
    font-size: 25px !important;
    line-height: 36px;
}

.entry-content ol,
.entry-content .ql-editor ol {
    font-size: 20px;
    list-style: disc;
    padding-left: 40px;
}

.entry-content ul,
.entry-content .ql-editor ul {
    padding-left: 40px;
    font-size: 20px;
    list-style: decimal;
}

.entry-content p,
.entry-content .ql-editor p {
    font-size: 22px;
    line-height: 2;
    font-weight: 500;
    color: #292d32;
}

.entry-content a,
.entry-content .ql-editor a {
    transition: all 0.2s linear;
    color: #289ba1;
}

.entry-content a:hover,
.entry-content .ql-editor a:hover {
    color: #2ebac1;
}

.entry-content blockquote,
.entry-content .ql-editor blockquote {
    font-weight: 500;
    font-size: 22px;
}

.entry-content img,
.entry-content .ql-editor img {
    width: 100%;
    max-width: 90%;
    margin: 40px auto;
    border-radius: 20px;
    height: auto;
}
.entry-content iframe,
.ql-editor .ql-video {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 90%;
    border-radius: 10px;
    margin: 0 auto;
}
